@model AFTS.Models.Member
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <div class="banner">
            <h1 class="banner-head">
                Anyone For Tennis Centre<br>
                Where Roger Federer is a coach
            </h1>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="information-head">Get started today</h3>
            <p>
                Welcome to Anyone for Tennis! We are the number tennis center in the world, spitting out stars such as Roger Federer, Rafael Nadal and Novak Djokovic from our facilities. With Roger doubling as a full time coach here, you wouldn't want to miss the opportunity to be the next big star.
            </p>
        </div>
        <div class="col-lg-6">
                <h3 class="information-head">Pay monthly or annually</h3>
                <p>
                    We operate on an active subcription to be a member of the facility. You can either choose the monthly $10,0000 fee or a yearly cost of $100,000, saving you $20,000!
                </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3 class="information-head">24/7 customer support</h3>
            <p>
                We provide 24/7 customer support, call us at any time of the day or night and one of our ex-pro staff memebers will gladly assist you with your queries.
            </p>
        </div>
        <div class="col-lg-6">
            <h3 class="information-head">Cancel your plan anytime</h3>
            <p>
                Not feeling like a star and wanting to give up? Well, you can cancel your membership at any time and embrace never becoming anything more than a failure in life.
            </p>
        </div>
    </div> <!-- end l-content -->
</div>